@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

/* Default styles */
*{
    margin: 0;
}
.text-center{
    text-align: center;
}
body{
 font-family: "Inter", sans-serif;
 background-color: black;
     }
.linear-backgound{
    background-image: linear-gradient(180.00deg, rgb(19, 19, 19),rgba(66, 63, 63, 0.086) 100%);
}
.container{
    width: 80%;
    margin: 5rem auto;
}
h3{
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
    padding-bottom: 10px;
   
}
p{ 
    text-align: left;
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.5);
    line-height: 24px;
    letter-spacing: 0.3px;
    padding-bottom: 20px;
}
h4{
    color: rgb(255, 255, 255);  
}
.btn-primary{
    width: 224px;
    padding: 16px 45px;
    background-color:rgb(230, 83, 60);
    border: 1px solid rgb(230, 83, 60);
    border-radius: 46px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    margin-right: 10px;
}
button{
    margin-top: 28px;
}
.button{
    padding: 16px 45px;
    border: 1px solid white;
    background-color: black;
    border-radius: 46px;
    color: rgb(255, 255, 255);
    font-size: 18px;
}

    



/* navbar styling */
.brand-name{
    color: rgb(230, 83, 60);
    font-size: 2.5rem;
    font-weight: 800;
    font-style: italic;
}
.nav-options{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 44px;
    color: rgb(255, 255, 255);
    font-size: 1.10rem;
    font-weight: 400;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 3rem;
    padding: 4px;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem;
}
.nav-options p {
    
    color: rgb(255, 255, 255);

}
.home{
    background-color: rgb(230, 83, 60);
    padding: 10px 20px;
    border: 1px rgb(230, 83, 60);
    border-radius: 42px;
}
/* Banner Styliong */
.banner-heading{
    font-size: 4.85rem;
    
  }

  #shape{
    font-family: "Dancing Script", cursive;
    font-style: italic;
    font-size: 4.85rem;
    font-weight: normal;
  }
.Banner-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem;
  

}
 .text-container{
    width: 90%;
 }
 .card{
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
  
    text-align: left;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
 }
 .banner-card1{
    width: 190px;
    height: 80px;
    padding: 20px;
    margin-top: -500px;
    margin-left: 200px;
 }
 
 .banner-card2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2px;
    width: 206px;
    height: 96px;
    margin-top: 250px;
    margin-left: -100px;
    }

    .banner-card2 h3{
        font-size: 24px;
        padding: 15px;
    }
 .circle{
    height: 45px;
    width: 45px;
    background-color: rgb(230, 83, 60);
    border-radius: 50%;
 }
 .ham-burger{
    display: none;

 }
i{
    color: white;
}

/* Change habit section styling */
.heading-text {
    margin-top: 120px;
    margin-bottom: 35px;
}

/* .heading-description{
    width: 670px;
    height: 120px;
} */
.habit-img{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.habit-img img{
    border: 0.5px solid rgb(255, 255, 255);
    border-radius: 50%;
    margin-bottom: 30px;
   }
   .habit-card{
    width:230px;
    height: 275px;
    margin-bottom: 30px;
   }

   /* run-extra-mile section styling */
   .run-extra{
    background-color: rgb(34, 34, 34);
    border-radius: 18px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 600px;
    padding: 30px 25px;
       }
   .run-extra-text-des{
    margin: 30px 30px;
 
      }
   .run-extra-img img{
    width: 430px;
    height: 350px;
    border-radius: 18px;
         }



/* BMI Calculator section styling */
    .text-heading{
        width: 670px;
        height: 120px;
        margin: 90px auto;
    }
    .table-chart h3, .calculator h3{
        color: rgb(255, 255, 255);
        font-size: 1.5rem;
        font-weight: 900;
        padding-bottom: 10px;
    }
            
    .input-box{
        display: grid;
        grid-template-columns: repeat(2, 300px);
        gap: 10px;
        align-items: center;
        width: 570px;
        height: 185px;
    }  
   .activity-input{
    width: 610px;
   }
         table{
            border-collapse: collapse;
        }
        td,th{
            border: 1px solid rgb(255, 255, 255,10%);
            padding: 15px;
      
        }
        .BMI-calculator tr { 
            color: rgb(255, 255, 255, 0.5);

        }
        
    .BMI-calculator{
        display: flex;
        justify-content: space-between;
        background-color: rgb(255, 255, 255,10%);
       
    }
    input,select{
        border: none;
        border-radius: 8px;
        padding: 15px;
        background-color: rgba(255, 255, 255, 0.1);
        color: rgba(255, 255, 255, 0.6);
    }
    ::placeholder{
        color: rgba(255, 255, 255, 0.6);
    }
    table{
        margin-top: 30px;
    }
    .table-chart{
        margin-left: 200px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .calculator{
         margin-right: 200px;
         margin-top: 40px;
         margin-bottom: 40px;
                
    }
/* Team Section styling */
.team{
    width: 1060px;
    margin: 5.5rem auto;
}
.team-heading{
    margin: 30px auto;
  text-align: center;
}
.team-heading p{
    text-align: center;
}
.team-img img{
    width: 325px;
    height: 270px;
    border-radius: 16px;
}
.team-img{
  gap: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  padding: 20px 20px;
}
.row-two, .row-one{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem auto;
}

.img-card{
    position: relative;
}
.text-card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-130%, 45%);
}
/* Footer Section Styling */
.communication h4{
    font-size: 2rem;
    margin-bottom: 20px;
}
.communication p{
    font-size: 1.4rem;
}
.font-size{
    color: rgb(230, 83, 60);
    font-size: 4.3rem;
    font-weight: 800;
    font-style: italic;
}
.brand-box{
    width: 25%;
    margin: 60px 200px;
    line-height: 60px;
}
.footer-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.footer{
    background-color: rgb(255, 255, 255,10%);
 
}
.communication{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 150px;

}
.communication-box{
    margin: 60px 150px;
}
hr{
    margin: 40px auto;
    color: rgba(255, 255, 255, 0.5);
}
.copy-right{
    text-align: center;
    font-size: 20px;
    
}
   
    
    


 /* responsive styles */
 /* mobile device */
 @media screen and (max-width: 576px){
    .nav-options{
        display: none;
    }
    .ham-burger{
        display: block;
    
     }
     .Banner-section, .habit-img,  .run-extra,  .BMI-calculator,.row-two, .row-one, .team,.footer-section,.communication {
        display: flex;
        flex-direction: column;
     }
     .btn-section{
        display: flex;
        flex-direction: row;
     }
     .banner-card2{
        margin-top: 150px;
        margin-left: -20px;
     }
     .btn-primary, .button{
        padding: 12px 20px;
     }
     .run-extra{
        gap: 10px;
     }
     .run-extra-img img{
        width: 350px;
        height: 300px;
    }
    .table-chart, .calculator{
        width: 300px;
    }
    .input-box{
        grid-template-columns: repeat(2, 230px);
       width: 250px;
        height: 185px;
    }
    .activity-input{
        width: 470px;
       }  
       .text-heading{
        width: 370px;
        height: 120px;
        margin: 90px auto;
    }
       .table-chart{
        margin: 40px 50px;
    }
    .calculator{
        margin: 40px 30px;
         
    }
    .team{
        width: 560px;
    }
    .team-img{
             gap: 10px;
    }
   
    .row-one,.row-two{
        gap: 20px;
    }
    .brand-box{
        margin-top: 60px;
        margin-bottom: 10px;
        margin-right: 60px;
        margin-left: 0px;
    }
}
